body {
    background-color: aliceblue;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Tittle{
    margin-top: 50px;
    margin-left: 14%;
    size: 800px;
    /* color: blue; */
}
.Description{
    background-color: rgb(233, 238, 243);
    text-align: center;
}
.box{
    display: inline-block;
    text-align: left;
    width: 70%;
    background-color: rgb(187, 207, 231);
    padding: 1%;
}
 .Description h3{
    margin-top: 0px;
}
.box h4{
    margin-top: 0px;
    /* size: 1px; */
}
.Text{
    width: 100%;
    height: 100px;
    background-color: white;
}
.Sample{
    width: 34%;
    height: 100px;
}
.Hints{
    margin-top: 0px;
    height: 70px;
}
